<div class="modal-content">
    Merci {{utilisateur.civilite}}. {{utilisateur.nom}} {{utilisateur.prenom}} pour vos choix.
    <br>
    <input type="button" id="submit_valider" value="Retour">
</div>                

